<% provide(:title, 'Contact') %>
<% provide(:img, "http://cs9992.vk.me/u14728709/33824754/m_d8c328c0.jpg") %>
<h1>Contact</h1>

<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>
