<% provide(:img, "//upload.wikimedia.org/wikipedia/commons/thumb/4/48/Unisphere-20100731.jpg/800px-Unisphere-20100731.jpg") %>
<h1>New-York</h1>

<p>
  Нью-Йо́рк (англ. New York City, МФА: New York (i), [nuː ˈjɔɹk ˈsɪtɪ]? или [njuː ˈjɔːk ˈsɪti]?) — крупнейший город США[2][3] и одна из крупнейших агломераций мира.[4][5][6] Население 8 363 710 человек (2010),[1] с пригородами — 20,61 млн. Расположен на берегу Атлантического океана в юго-восточной части штата Нью-Йорк. Нью-Йорк был основан в начале XVII века голландскими колонистами. До 1664 года город назывался Новый Амстердам.[7]

  Нью-Йорк включает 5 районов (боро): Бронкс, Бруклин, Куинс, Манхэттен и Статен-Айленд. Основные достопримечательности расположены в Манхэттене. Среди них: исторические небоскрёбы (Эмпайр-стейт-билдинг, Крайслер-билдинг), Рокфеллеровский центр, Вулворт-билдинг, художественный Метрополитен-музей, Метрополитен-опера, Музей Соломона Гуггенхайма (живопись), Американский музей естественной истории (скелеты динозавров и планетарий), легендарный отель «Челси», штаб-квартира ООН, Гарлем.

  Нью-Йорк — важнейший мировой финансовый, политический, экономический и культурный центр.
</p>