<% provide(:img, "//upload.wikimedia.org/wikipedia/commons/thumb/4/49/Tokyo_station05s3872.jpg/800px-Tokyo_station05s3872.jpg") %>
<h1>Tokyo</h1>	
<p>
  То́кио (яп. 東京 То:кё: (инф.), «Восточная столица») — столица Японии, её административный, финансовый, культурный, промышленный и политический центр. Крупнейшая городская экономика мира. Расположен в юго-восточной части острова Хонсю, на равнине Канто в бухте Токийского залива Тихого океана. Площадь префектуры составляет 2188,67 км², население — 13 051 965 человек (1 июня 2010), плотность населения — 5963,42 чел./км².

  Токийский столичный округ — административная единица Японии, включающая в себя специальные районы Токио, область Тама и Островные территории Токийского столичного округа (острова Идзу и Огасавара).
</p>